@import "tailwindcss";


@theme{

  --color-back-feedback-open: #CC3D6A33;
  --color-back-feedback-progress: #355EC533;
  --color-back-feedback-done: #508B2633;

  --color-feedback-done: #508B26;
  --color-feedback-progress: #355EC5;
  --color-feedback-danger: #D03E3E;
  --color-feedback-open: #CC3D6A;
  --color-blue-dark: #2E3DA3;
  --color-blue-base: #5165E1;
  --color-blue-light: #8996EB;
  --color-gray-100: #151619;
  --color-gray-200: #1E2024;
  --color-gray-300: #535964;
  --color-gray-400: #858B99;
  --color-gray-500: #E3E5E8;
  --color-gray-600: #F9FAFA;
 
}

:root {
  --lato: "Lato", sans-serif;
  --font: 1rem/140% var(--lato);
  

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {

  }

}

#root {

}

body {
  font: var(--font);
  font-family: var(--lato);

}


@media (max-width: 1024px) {
}
